<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>



				<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Follow me!</string>
		</dict>

		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>MegaDev</string>
			<key>user</key>
			<string>omegaluldev</string>
		</dict>


				<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>There is also a cc toggle available.</string>
		</dict>
<dict>
    <key>cell</key>
    <string>PSButtonCell</string>
    <key>cellClass</key>
    <string>HBTintedTableCell</string>
    <key>label</key>
    <string>Manually trigger Sentinel</string>
	 <key>action</key>
    <string>triggersent</string>
</dict>

				<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable / Disable tweak</string>
		</dict>

				<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.megadev.sentinel</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable Tweak</string>
			<key>PostNotification</key>
			<string>com.megadev.sentinel</string>
		</dict>



				<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Spoof battery percent to match shutdown.</string>
		</dict>

				<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.megadev.sentinel</string>
			<key>key</key>
			<string>spoofpercent</string>
			<key>label</key>
			<string>Spoof percentage</string>
			<key>PostNotification</key>
			<string>com.megadev.sentinel</string>
		</dict>
	
				<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Keep music playing in Sentinel mode.</string>
		</dict>

				<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.megadev.sentinel</string>
			<key>key</key>
			<string>stopmusic</string>
			<key>label</key>
			<string>Keep music playing</string>
			<key>PostNotification</key>
			<string>com.megadev.sentinel</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Shutdown %</string>
		</dict>



	

<dict>
    <key>cell</key>
    <string>PSSliderCell</string>
    <key>cellClass</key>
    <string>HBDiscreteSliderTableCell</string>
    <key>default</key>
    <real>5</real>
    <key>defaults</key>
    <string>com.megadev.sentinel</string>
    <key>key</key>
    <string>shutdownpercent</string>
    <key>showValue</key>
    <true/>
    <key>max</key>
    <real>100</real>
    <key>min</key>
    <real>1</real>
</dict>



		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Checkout my other tweaks!</string>
		</dict>
	<dict>
    <key>cellClass</key>
    <string>HBPackageTableCell</string>
    <key>label</key>
    <string>BatteryRamp</string>
    <key>packageIdentifier</key>
    <string>com.megadev.batteryramp</string>
    <key>subtitleText</key>
    <string>Faster charging tweak!</string>
</dict>


	</array>
	<key>title</key>
	<string>Sentinel</string>
</dict>
</plist>
